@tailwind base;
@tailwind components;
@tailwind utilities;

/* variales */
:root {
    --blue01: #1770F6;
    --gray01: rgba(34, 35, 36, 0.70);
    --gray02: #ffffff75;
}

/* styles globales */
* {
    margin: 0;
    padding: 0;
}

/* importation des fonts */
@font-face {
    font-family: "lato-light";
    src: url("/src/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "lato-regular";
    src: url("/src/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "lato-bold";
    src: url("/src/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "lato-black";
    src: url("/src/fonts/Lato-Black.ttf");
}

/* ajout de chaque font-family sur des classes */
.lato-light {
    font-family: "lato-light";
}

.lato-regular {
    font-family: "lato-regular";
}

.lato-bold {
    font-family: "lato-bold";
}

.lato-black {
    font-family: "lato-black";
}

/* autre styles  */
body {
    background-color: #0E0E0E;
    font-family: "lato-regular";
}

.nav {
    background-color: #0e0e0e54;
}

.nav .nav__container {
    border-bottom: 1px solid var(--gray01);
}

.nav .auth-buttons :last-child {
    background-color: var(--blue01);
}

.hero .header h1 {
    font-size: 4.5rem;
    width: 880px;
}

.hero .header h1 span {
    background: linear-gradient(92deg, #1770F6 68.89%, #9243FA 94.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .header p {
    color: var(--gray02);
    width: 510px;
}

.hero .footer-buttons :first-child {
    background-color: var(--blue01);
}

.hero .footer-buttons :last-child {
    border: 1px solid var(--gray02);
    background: linear-gradient(92deg, #131212 1.08%, rgba(22, 22, 22, 0.88) 46.58%, rgba(29, 28, 28, 0.78) 67.12%, rgba(25, 25, 25, 0.90) 98.92%);
}

.tag {
    background: linear-gradient(91deg, #131212 -1.88%, rgba(22, 22, 22, 0.88) 37%, rgba(35, 34, 34, 0.69) 77.89%, rgba(25, 25, 25, 0.77) 95.05%);
    border: 1px solid var(--gray01);
    border-radius: 50px;
    color: var(--gray01);
    padding: 0.5rem 1rem;
    width: max-content;
}

.tag p {
    width: max-content !important;
    color: var(--gray02);
}

.about .about-content .header span {
    background: linear-gradient(92deg, #1770F6 68.89%, #9243FA 94.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .about-content .content p {
    color: var(--gray02);
}

.about .about-content button {
    background-color: var(--blue01);
}

.features .title h2 {
    width: 420px;
}

.features .title h2 span {
    background: linear-gradient(92deg, #1770F6 68.89%, #9243FA 94.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features .header button {
    background-color: var(--blue01);
}